.custom-input {
   height: 70px;
   // height: 66px;
   @apply relative;
   // @appsdaly my-0.5 px-0;

   &__label {
      @apply absolute -top-2 left-2.5 z-10 opacity-100;
      @apply px-1;
      @apply text-sm text-gray-400;
      @apply bg-white;
      animation: labelGoUp 250ms ease;

      &.show {
         @apply top-7 opacity-0 hidden;
      }
   }

   &__inner {
      @apply px-3;
      @apply relative;
      @apply border rounded-lg border-gray-300;
   }

   &__helper {
      @apply -translate-y-2 opacity-0;
      @apply mt-1 pl-2.5;
      @apply text-xs text-red-500;

      &.show {
         @apply translate-y-0 opacity-100;
         animation: helperShow 300ms ease;
      }
   }
   &.focused {
      label {
         @apply text-lapis-lazuli-normal;
      }
      .custom-input__inner {
         @apply border-lapis-lazuli-normal;
      }
   }

   &.error {
      label {
         @apply text-red-500;
      }
      .custom-input__inner {
         @apply border-red-500;
      }
   }
   .show-hide-password {
      @apply absolute top-1.5 right-3 z-10;
      @apply cursor-pointer;
      @apply p-2;
      @apply text-gray-400;
   }

   ion-input {
      @apply text-gray-500;

      &::placeholder {
         @apply capitalize;
      }
      --placeholder-color: #9ca3af;
      --highlight-color-focused: none;
   }
}
.sc-ion-input-md-h:not(.legacy-input) {
   min-height: 48px;
}
@keyframes labelGoUp {
   from {
      @apply top-7 opacity-0;
   }
   to {
      @apply -top-2 opacity-100;
   }
}

@keyframes helperShow {
   from {
      @apply -translate-y-2 opacity-0;
   }
   to {
      @apply translate-y-0 opacity-100;
   }
}
