.home-page {
   ion-header {
      // @apply mt-9;
      margin-top: var(--status-bar-height);
      @apply border-b border-gray-50;
      @apply shadow-sm #{!important};

      ion-toolbar {
         --background: #fff;
         --padding-start: 10px;
         @apply text-gray-500;
         ion-title {
            @apply px-0;
            @apply text-xl capitalize text-gray-600;
         }
      }
   }
}

.home-page {
   ion-header {
      // @apply px-2.5;
   }
}
